.web-chat {
    overflow: hidden;
}

.connect-spinner {
    display: flex;
    margin: auto;
    text-align: center;
}

.connect-spinner > .content {
    margin: auto;
}

.connect-spinner > .content > .icon {
    font-size: 64px;
}

.webchat__adaptive-card-renderer .ac-pushButton {
    color: var(--ub-orange) !important;
    border: 1px solid var(--ub-orange);
    border-radius: 20px;
}

.webchat__adaptive-card-renderer .ac-pushButton[aria-pressed="true"] {
    background-color: var(--ub-orange) !important;
    color: white !important;
    border-color: var(--ub-orange) !important;
}

.webchat__carousel-layout .react-film__flipper .react-film__flipper__body {
}
